#tierEventList .scroll-bar:horizontal .increment-arrow,
#tierEventList .scroll-bar:horizontal .decrement-arrow,
#tierEventList .scroll-bar:horizontal .increment-button,
#tierEventList .scroll-bar:horizontal .decrement-button {
    -fx-padding: 0;
}

#tierEventList .list-cell:selected {
	-fx-background-color: white;
}

#tierEventList .list-cell:selected #eventBox {
	-fx-border-color: steelblue !important;
	-fx-border-width: 2 !important;
}

#tierEventList .list-cell:selected #eventHeader {
	-fx-background-color: steelblue !important;
	-fx-text-fill: white !important;
}

#tierEventList .list-cell:selected #attendingSchoolsList {
	-fx-text-fill: #000 !important;
}